<% provide(:title, 'About') %>
<h2>A Production of the ARC</h2>
<p>Drivalysis is a platform that connects people in need of trips to dialysis appointments with volunteer drivers who are willing to provide the trips in their personal vehicle.  It was developed in response to the growing need for such trips in the Atlanta metro area.  In the summer of 2015, the Human Services Transportation Advisory Committee at Atlanta Regional Commission (ARC) began looking into this need and began conducting research in Gwinnet County with the help of local staff at the Gwinnett County Senior Services.  During a Code Across hackathon organized by Code for Atlanta in March 2016, a prototype was created due to the kind, generous, and technical coding work of Chris Chwartz, John Kirkley, and Anitha Palanisamy .   The prototype is currently in a testing phase.  For more information, please contact Janae Futrell, manager of ARC’s Human Services Transportation program at jfutrell@atlantaregional.com.
<ul>

</ul>
