<% provide(:title, 'Home') %>
<div class="splash">

<div class="text-center jumbotron">
<img src="http://images4.fanpop.com/image/photos/19000000/Atlanta-GA-Skyline-atlanta-19055311-775-517.jpg" style="width:80%;">
  <h1>Welcome to DRIVALYSIS</h1>
  <h3></h3>
  <br/>
</div>
</div>
