<div class="page-header">
  <h1 class="text-center">I am a ..</h1>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-2">
 <%= link_to "Patient", new_patient_path, class: 'btn btn-primary'%>
  </div>
  <div class="col-md-4 col-md-offset-2">
  <%= link_to "Driver",  new_driver_path, class: 'btn btn-primary'%>
  </div>
</div>
