
<div class="page-header">
  <%= link_to new_patient_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Patient
  <% end %>
  <h1>Listing patients</h1>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <% @patients.each do |patient| %>
      <ul class="list-unstyled">
        <li> <%= link_to patient.name, patient %>
      </ul>
    <% end %>
  </div>
</div>
